[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "hugo-theme-massively"]
	path = hugo-theme-massively
	url = https://github.com/curtiscde/hugo-theme-massively.git
[submodule "themes/massively"]
	path = themes/massively
	url = https://github.com/curtiscde/hugo-theme-massively.git
[submodule "themes/scroll"]
	path = themes/scroll
	url = https://github.com/zjedi/hugo-scroll.git
